/*Base CSS*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
a:focus,input:focus,textarea:focus,button:focus{outline: 0 solid}
a:hover{text-decoration: none;}
img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-weight: 700;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px 0;
}

.section-title h2 {
    font-weight: 400;
}

.section-title p {
    color: #C5C4C2;
    font-size: 20px;
}

.section-title {
    margin-bottom: 50px;
}

.contact-us-form > p {
    color: #C5C4C2;
    font-size: 20px;
    margin-bottom: 15px;
}4
.form-element {
    position: relative;
}

.form-element label {
    position: absolute;
    left: 15px;
    top: 10px;
}

.contact-us-form input[type=text], .contact-us-form input[type=email], .contact-us-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    padding-top: 35px;
    padding-bottom: 10px;
    transition: .1s;
}

.form-element textarea {
    max-height: 150px;
}

.small-text {
    color: #C5C4C2;
    font-size: 14px;
    margin: 0;
    padding: 10px 0px;
}

.contact-us-form input[type=submit] {
    border: none;
    background: #01A2DD;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    float: right;
}

.contact-us-form input[type=text]:focus, .contact-us-form input[type=email]:focus, .contact-us-form textarea:focus {
    background: #F1F0EE;
}