
body {
    margin: 0;
}
.header-area {
    overflow: hidden;
}
.header-area .left-side {
    float: left;
    width: 40%;
}
.left-side .one {
    background-color: #ff7f27;
    height: 150px;
}
.left-side .two {
    background: none repeat scroll 0 0 #99d9ea;
    height: 150px;
}
.middle {
    background: none repeat scroll 0 0 yellow;
    float: left;
    height: 300px;
    overflow: hidden;
    width: 20%;
}
.header-area .right-side {
    float: left;
    overflow: hidden;
    width: 40%;
}
.header-area .right-side .one {
    background: none repeat scroll 0 0 #880015;
    height: 150px;
}
.header-area .right-side .two {
    background: none repeat scroll 0 0 #efe4b0;
    height: 50px;
}
.header-area .right-side .three {
    background: none repeat scroll 0 0 #c8bfe7;
    height: 100px;
}
.middle-area {
    background: none repeat scroll 0 0 #a349a4;
    height: 100px;
    overflow: hidden;
}
.footer-area {
}
.footer-area .left-side {
    background: none repeat scroll 0 0 #7092be;
    float: left;
    height: 300px;
    width: 30%;
}
.footer-area .right-side {
    overflow: hidden;
    width: 70%;
}
.top {
}
.top .left .one {
    background: none repeat scroll 0 0 #b97a57;
    height: 200px;
}
.top .left .two {
    background: none repeat scroll 0 0 #c3c3c3;
    height: 50px;
}
.top .left {
    float: left;
    width: 50%;
}
.top .right {
    background: none repeat scroll 0 0 #ffaec9;
    height: 250px;
    overflow: hidden;
    width: 50%;
}
.bottom {
    background: none repeat scroll 0 0 #ed1c24;
    height: 50px;
}
