/*Base CSS*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
a:focus,input:focus,textarea:focus,button:focus{outline: 0 solid}
a:hover{text-decoration: none;}
img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-weight: 700;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.section-padding{
	padding: 80px 0;
}

.service-box-bg-1{
	background-image: url(../img/bg-1.jpg);
}
.service-box-bg-2{
	background-image: url(../img/bg-2.jpg);
}
.service-box-bg-3{
	background-image: url(../img/bg-3.jpg);
}
.service-box-bg-4{
	background-image: url(../img/bg-4.jpg);
}

.service-box {
    height: 200px;
    background-size: cover;
    position: relative;
    padding: 15px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.service-box-hover {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    transition: 0.2s;    
}



.service-box-hover h3 {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 400;
    bottom: -17px;
}

a.box-button {
    background: #FFCE42;
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.service-box:hover .service-box-hover {
    bottom: 30px;
    transition: 0.2s;
}


.service-box:hover .box-button {
    opacity: 1;
    visibility: visible;
}

.service-box {
    height: 200px;
    background-size: cover;
    position: relative;
    padding: 15px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
}
.service-box:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
    border-radius: 5px;
}